.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #21152b;
  height: 65px;
  padding-right: 50px;
}

.todo {
  background-color: #892ad6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-height: 804px;
}

.title {
  margin-bottom: 30px;
}

/* .home {
  background-color: #892ad6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 94vh;
} */

/* form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
  margin: 75px 200px;
  text-align: center;
  background-color: #21152b;
  height: 50%;
  width: 30%;
  opacity: 95%;
} */

.todo-background {
  border-radius: 10px;
  padding: 40px 40px 50px 40px;
  margin: 100px 200px 200px;
  text-align: center;
  background-color: #21152b;
}

.label-auth {
  margin-bottom: 20px;
}

.add-todo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.input-add {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #892ad6;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #892ad6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.edit-buttons {
  display: flex;
}

.todo-info {
  display: flex;
  align-items: center;
}

.edit-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 635px;
}

.console {
  margin-top: 45px;
}

.label-reg {
  min-width: 150px;
  text-align: left;
}

.error-text {
  margin: 20px;
}

footer {
  background-color: #21152b;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}